/** @format */
@font-face {
	font-family: "SaolDisplay-Regular";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/SaolDisplay-Regular.eot");
	src: url("./assets/fonts/SaolDisplay-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/SaolDisplay-Regular.woff2") format("woff2"),
		url("./assets/fonts/SaolDisplay-Regular.woff") format("woff"),
		url("./assets/fonts/SaolDisplay-Regular.ttf") format("truetype");
	display: swap;
}

@font-face {
	font-family: "PlayfairDisplay-Regular";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/PlayfairDisplay-Regular.eot");
	src: url("./assets/fonts/PlayfairDisplay-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
		url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff"),
		url("./assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
	display: swap;
}

@font-face {
	font-family: "Rajdhani-Display";
	font-weight: 300;
	font-style: normal;
	src: url("./assets/fonts/Rajdhani-Light.eot");
	src: url("./assets/fonts/Rajdhani-Light.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Rajdhani-Light.woff2") format("woff2"),
		url("./assets/fonts/Rajdhani-Light.woff") format("woff"),
		url("./assets/fonts/Rajdhani-Light.ttf") format("truetype");
	display: swap;
}
@font-face {
	font-family: "Rajdhani-Display";
	font-weight: 400;
	font-style: normal;
	src: url("./assets/fonts/Rajdhani-Regular.eot");
	src: url("./assets/fonts/Rajdhani-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Rajdhani-Regular.woff2") format("woff2"),
		url("./assets/fonts/Rajdhani-Regular.woff") format("woff"),
		url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
	display: swap;
}
@font-face {
	font-family: "Rajdhani-Display";
	font-weight: 500;
	font-style: normal;
	src: url("./assets/fonts/Rajdhani-Medium.eot");
	src: url("./assets/fonts/Rajdhani-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Rajdhani-Medium.woff2") format("woff2"),
		url("./assets/fonts/Rajdhani-Medium.woff") format("woff"),
		url("./assets/fonts/Rajdhani-Medium.ttf") format("truetype");
	display: swap;
}
@font-face {
	font-family: "Rajdhani-Display";
	font-weight: 600;
	font-style: normal;
	src: url("./assets/fonts/Rajdhani-SemiBold.eot");
	src: url("./assets/fonts/Rajdhani-SemiBold.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Rajdhani-SemiBold.woff2") format("woff2"),
		url("./assets/fonts/Rajdhani-SemiBold.woff") format("woff"),
		url("./assets/fonts/Rajdhani-SemiBold.ttf") format("truetype");
	display: swap;
}
@font-face {
	font-family: "Rajdhani-Display";
	font-weight: 700;
	font-style: normal;
	src: url("./assets/fonts/Rajdhani-Bold.eot");
	src: url("./assets/fonts/Rajdhani-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Rajdhani-Bold.woff2") format("woff2"),
		url("./assets/fonts/Rajdhani-Bold.woff") format("woff"),
		url("./assets/fonts/Rajdhani-Bold.ttf") format("truetype");
	display: swap;
}
@font-face {
	font-family: "TTWelcome";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/TTWelcomeRegular.eot");
	src: url("./assets/fonts/TTWelcomeRegular.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/TTWelcomeRegular.woff2") format("woff2"),
		url("./assets/fonts/TTWelcomeRegular.woff") format("woff"),
		url("./assets/fonts/TTWelcomeRegular.ttf") format("truetype");
	display: swap;
}
@font-face {
	font-family: "TTWelcome";
	font-weight: 700;
	font-style: normal;
	src: url("./assets/fonts/TTWelcomeBold.eot");
	src: url("./assets/fonts/TTWelcomeBold.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/TTWelcomeBold.woff2") format("woff2"),
		url("./assets/fonts/TTWelcomeBold.woff") format("woff"),
		url("./assets/fonts/TTWelcomeBold.ttf") format("truetype");
	display: swap;
}
@font-face {
	font-family: "Cafe24Onepretty";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/Cafe24Oneprettynight.eot");
	src: url("./assets/fonts/Cafe24Oneprettynight.eot?#iefix")
			format("embedded-opentype"),
		url("./assets/fonts/Cafe24Oneprettynight.woff2") format("woff2"),
		url("./assets/fonts/Cafe24Oneprettynight.woff") format("woff"),
		url("./assets/fonts/Cafe24Oneprettynight.ttf") format("truetype");
	display: swap;
}
